[submodule "deps/neobundle.vim"]
	path = deps/neobundle.vim
	url = https://github.com/Shougo/neobundle.vim.git
[submodule "deps/fonts"]
	path = deps/fonts
	url = https://github.com/abertsch/Menlo-for-Powerline.git
[submodule "deps/zsh-antigen"]
	path = deps/zsh-antigen
	url = https://github.com/zsh-users/antigen.git
[submodule "deps/autojump"]
	path = deps/autojump
	url = git://github.com/joelthelion/autojump.git
