# === Core ===
eval "$(/opt/homebrew/bin/brew shellenv)"
eval "$(mise activate zsh)"
eval "$(sheldon source)"

# === Environment ===
export ANDROID_HOME=$HOME/Library/Android/sdk
export PATH=$PATH:$ANDROID_HOME/emulator
export PATH=$PATH:$ANDROID_HOME/platform-tools
export PATH=$PATH:$ANDROID_HOME/cmdline-tools/latest/bin
export PATH="/opt/homebrew/opt/openjdk@21/bin:$PATH"
export PATH=$PATH:$HOME/.maestro/bin
export NPM_TOKEN={{ .npm_token | quote }}

# === Functions ===
zj() {
  if git rev-parse --git-dir > /dev/null 2>&1; then
    zellij --layout dev
  else
    zellij
  fi
}
