<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.katanabe.sync-dotfiles</string>
	<key>ProgramArguments</key>
	<array>
		<string>/Users/katanabe/.local/bin/sync-dotfiles</string>
	</array>
	<key>StartCalendarInterval</key>
	<dict>
		<key>Hour</key>
		<integer>12</integer>
		<key>Minute</key>
		<integer>0</integer>
	</dict>
	<key>StandardOutPath</key>
	<string>/tmp/sync-dotfiles.log</string>
	<key>StandardErrorPath</key>
	<string>/tmp/sync-dotfiles.log</string>
</dict>
</plist>
